rosdep
matplotlib
pyserial
opencv-python
rosdistro
asio 
eigen 
pcre 
poco
openssl
qt 
freetype 
assimp
console_bridge
log4cxx 
spdlog
cunit
sip 
pyqt5
graphviz
lxml
catkin_pkg 
empy 
ifcfg 
lark-parser 
netifaces 
numpy 
pyparsing 
pyyaml 
setuptools 
argcomplete